*{
    box-sizing: border-box;
}
.others_content{
margin-top: 150px;
}
.others_content h1{
    text-align: center;
    color: green;
}
@media only screen and (max-width:600px){
    .others_content{
        margin-top: 120px;
    }
    .others_content h1{
        font-size: 30px;
    }
}